.header__top {
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  background-color: white;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  padding: 15px 20px;
}

.header__container {
  display: flex;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
}

.header__left img {
  height: 40px;
  margin-right: 10px;
}

.header__left input {
  width: 50%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  background-color: lightgray;
  outline: none;
}

.header__leftBurger {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .header__left input {
    display: none;
  }
  .header__leftBurger {
    display: flex;
    align-items: center;
  }
  .header__leftBurger:hover {
    cursor: pointer;
    background-color: lightgray;
    padding: 5px;
    border-radius: 50px;
  }
}

.header__middle {
  flex: 0.4;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__middle .MuiSvgIcon-root {
  color: #4267b2;
  height: 30px;
  width: 30px;
  padding: 10px 30px;
  border-radius: 5px;
}

.header__middle .MuiSvgIcon-root:hover {
  background-color: lightgray;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header__middle {
    display: none;
  }
}

.header__right {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: auto;
}

.header__right p {
  margin: 0 10px;
}

.header__right .MuiSvgIcon-root {
  margin: 0 5px;
  border: none;
  background-color: #4267b2;
  border-radius: 50px;
  padding: 8px;
  color: white;
}

.header__right .MuiSvgIcon-root:hover {
  background-color: rgb(140, 140, 140);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .header__rightFirstThree {
    display: none;
  }
}

.header__logout {
  background-color: white;
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  position: fixed;
  right: 0;
}

.header__logout:hover {
  cursor: pointer;
  background-color: lightgray;
}

.header__logoutHide {
  display: none;
}
