.likesPopUp.hide {
  display: none;
}

.likesPopUp {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.likesPopUp__container {
  height: 400px;
  width: 550px;
  border-radius: 5px;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.likesPopUp__containerCross {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.likesPopUp__containerCross .MuiSvgIcon-root {
  padding: 10px;
  border-radius: 50px;
  background-color: lightgray;
  margin: 10px;
  margin-left: auto;
}

.likesPopUp__containerCross .MuiSvgIcon-root:hover {
  cursor: pointer;
  background-color: gray;
}

.likesPopUp__containerLike {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow-y: auto;
}

.likesPopUp__containerLike {
  margin: 10px;
}

.likesPopUp__containerLike p {
  margin-left: 10px;
}
