.comment__hidden {
  display: none;
}

.post {
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: white;
}

.post__header {
  display: flex;
  align-items: center;
}

.post__ppic {
  height: 30px;
  margin-right: 5px;
}

.post__message {
  height: 100%;
  padding: 10px;
}

.post__stats {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post__statsLike {
  flex: 0.2;
}

.post__statsComment {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
}

.post__statsShare {
  flex: 0.2;
}

.post__actions {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__actions > button {
  height: 30px;
  width: 100%;
  border: none;
  background-color: white;
  margin: 5px 0;
  outline: none;
}

.post__actions > button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.post__likedButton {
  background-color: lightgray !important;
}

.post__likeButton {
  background-color: white !important;
}

.post__likeButton:hover {
  background-color: lightgray !important;
}
