.rightBar {
  background-color: #f1f2f5;
  width: 650px;
}

.rightBar__container {
  right: 0;
  position: fixed;
  height: 100%;
}

@media only screen and (max-width: 1300px) {
  .rightBar {
    display: none;
  }
}
